@using BlazorBlog.Shared
@inject BlazorBlog.Client.Services.IBlogService BlogService
@page "/{characterName}/blogposts"

<h3 style="color:white">@characterName</h3>
@foreach (var post in Posts)
{
        <div class="card my-4">
            <div class="card-body">
                <h5 class="card-title">@post.Title</h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted">@post.DateCreated.ToLongDateString()</small></p>
                <a href="/posts/@post.Url" class="btn btn-primary">Read more...</a>
            </div>
        </div>
}


@code {
    private List<BlogPost> Posts = new List<BlogPost>();
    [Parameter]
    public string characterName { get; set; } = default!;

    [Parameter]
    public Character selectedChar { get; set; }

    string placeholderImage = "https://via.placeholder.com/1060x180";

    protected override async Task OnInitializedAsync()
    {
        selectedChar = await BlogService.GetCharacterByName(characterName);
        Posts = await BlogService.GetBlogPostsByCharacterId(selectedChar.Id);
    }
}
